body{
  display: flex;
  flex-direction: column;
  //align-items: center;
}

.first{
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
}

.second{
  flex: 1 1 auto;
  order: 2;
  display: flex;
  justify-content: space-between;

}
